
h1 {
	color : gray;
	text-align: center;
	font-size: 60px
	}
p {
	color : black;
	}
question{
font-size:30px
}
body{
	margin:0;
	background-color:white;
	background-image: url(" http://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");

	}

#navcon {
	position: absolute;
	top: 120px;
	background-color: gray;
	width: 100%;
	padding: 0;
	margin-bottom:25px;

}

#navbar {
	list-style-type: none;
	margin: 0;
	margin-left: 40px;
	margin-right:40px
	}

#Heading {
	position: absolute;
	list-style-type: none;
	height: 120px;
	background-color: lightgray;
	background-image: url(" http://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
	width:100%;
	} 
	
#Heading h1 {
		display: inline-block;
		width: 50%;
		padding: 0 25%;
	}
title{
	color: black;
	min-height: 20px;
	display:block;
}

	
.navitem {
	float:left;
	}
.navitem a{
	display: inline-block;
	width: 50px;
	color: black;
	text-decoration: none;
	padding: 8px 16px;
	text-align:center;
	float:left;
	
	}
#sources{
	float: right;
	}
.navitem a:hover:not(.active) {
	background-color: darkgray;
	}
#main{
	position: absolute;
	margin-top:25px;
	padding:0px;
	top :150px;
	padding: 0 25%;
	}
img{
margin-top: 0px;
width: 50%;
padding: 0 25%;

}